* {
  font-family: 'Liu Jian Mao Cao', cursive;
}

/* header {
  border: 2px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
}

footer {
  border: 2px solid black;
  width: 100%;
  padding-top: 20px;
} */